#headerAlt {

    background: url(../../assets/header-alt.webp) no-repeat;
    background-position: center;
    background-size: cover;
}

#fondoExp {

    background-color: var(--blanco-perla);
}

/*EXPEDIENTES GALERIA*/

.galeria {

    padding: 6em 0;
    background-color: var(--blanco);
}

.expedGaleria__galeria {

    position: relative;
}

.galeria__conten {

    overflow: hidden;
}

.galeria__imagenes {

    display: flex;
    width: 100%;
    transition: .3s;
}

.galeria__imagenes img {

    width: 100%;
}

#btnIzq, #btnDer {

    outline: none;
    border: none;
    position: absolute;
    bottom: 23%;
    padding: 2em 0.5em;
    font-size: 1.1em;
    font-family: var(--regular);
    background-color: transparent;
    color: var(--blanco);
    cursor: pointer;
}

#btnIzq {

    left: 0;
}

#btnDer {

    right: 0;
}

/*QUE REALIZAMOS*/

.realizar {

    padding: 3em 1.4em 6em 1.4em;
    background-color: var(--blanco);
}

.realizar h3 {

    position: relative;
    text-align: center;
    font-size: 1.5em;
    color: var(--verde);
}

.realizar h3::after {

    content: "";
    position: absolute;
    display: block;
    top: 1.9em;
    left: 50%;
    transform: translateX(-50%);
    width: 5.5em;
    height: 0.1em;
    background-color: var(--verde-claro);
}

.realizar__conten {

    display: flex;
    flex-direction: column;
    gap: 3em 0;
    margin-top: 6em;
}

.realizar__conten img {

    width: 100%;
    max-width: 25em;
    display: block;
    margin: 0 auto;
}

ul {

    list-style: none;
}

ul li {

    display: flex;
    align-items: baseline;
    font-size: 0.880em;
    margin: 1.4em 0;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--verde-claro);
}

ul li:last-child {

    border-bottom: none;
}

#check {

    width: 1em;
    max-width: none;
    display: block;
    margin: 0 0.8em 0 0;
}

.realizar__lista a {

    text-decoration: none;
    display: block;
    margin: 3.6em auto;
    max-width: 14.8em;
    padding: 0.7em 2em;
    font-size: 0.920em;
    border: 1px solid var(--verde);
    background-color: transparent;
    color: var(--verde);
    cursor: pointer;
    transition: .4s;
}

.realizar__lista a i {

    margin-left: 0.6em;
}

.realizar__lista a:hover {

    background-color: var(--verde);
    color: var(--blanco);
}

/*OTROS SERVICIOS*/

.otrosServ {

    padding: 4em 1.4em 0 1.4em;
}

.otrosServ h3 {

    position: relative;
    text-align: center;
    font-size: 1.5em;
    color: var(--verde);
}

.otrosServ h3::after {

    content: "";
    position: absolute;
    display: block;
    top: 1.9em;
    left: 50%;
    transform: translateX(-50%);
    width: 5.5em;
    height: 0.1em;
    background-color: var(--verde-claro);
}

/*CONTENIDO TARJETA SERVICIOS*/

.splide {

    margin-top: 6em;
}

.splide__pagination {

    display: none;
}

.splide__arrow {

    background: transparent;
}

.splide__arrow svg {

    fill: var(--azul);
    height: 1.5em;
    width: 1.5em;
}

.splide__slide {

    width: 21.1em !important;
    margin: 0 0.5em;
}

.tarjetas__conten {

    position: relative;
    max-width: 25em;
    width: 100%;
}

.tarjetas__conten:hover > h4 {

    visibility: hidden;
    opacity: 0;
}

.tarjetas__conten:hover .tarjetas__texto {

    visibility: visible;
    opacity: 1;
}

.tarjetas__conten img {

    width: 100%;
}

.tarjetas__conten > h4 {

    position: absolute;
    top: 35%;
    left: 0;
    width: 65%;
    padding: 0.8em 1em 0.8em 1.8em;
    font-size: 1.1em;
    visibility: visible;
    opacity: 1;
    background-color: var(--blanco-op);
    color: var(--verde);
    transition: .4s;
}

.tarjetas__texto {

    position: absolute;
    padding: 2em;
    height: 100%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    background-color: var(--blanco-op);
    color: var(--verde);
    transition: .4s;
}

.tarjetas__texto > h4 {

    font-size: 1.1em;
    font-family: var(--medium);
}

.tarjetas__texto p {

    margin-top: 1.1em;
    font-size: 0.850em;
    line-height: 1.4em;
    color: var(--negro);
}

.tarjetas__texto a {

    display: block;
    width: 45%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1em;
    padding: 0.5em 1.6em 0.5em 1.6em;
    text-decoration: none;
    text-align: center;
    border: 2px solid transparent;
    background-color: var(--verde);
    font-size: 0.9em;
    color: var(--blanco);
    transition: .4s;
}

.tarjetas__texto a i {

    margin-left: 0.6em;
}

.tarjetas__texto a:hover {

    border: 2px solid var(--verde);
    background-color: transparent;
    color: var(--verde);
}

@media screen and (min-width: 768px) {
    
    #btnIzq, #btnDer {

        padding: 5em 4em;
        font-size: 1.3em;
    }
}

@media screen and (min-width: 992px) {
    
    /*EXPEDIENTES GALERIA*/

    .expedGaleria__galeria {

        margin: 2em auto 0 auto;
        max-width: 65em;
    }

    #btnIzq, #btnDer {

        font-size: 1.6em;
        bottom: 32%;
        padding: 2.8em 2.5em;
    }

    /*QUE REALIZAMOS*/

    .realizar {

        padding: 3em 0 6em 0;
    }

    .realizar h3 {

        font-size: 1.6em;
    }

    .realizar__conten {

        flex-direction: row;
        gap: 0;
        margin-top: 6em;
    }

    .realizar__conten img {

        max-width: 25em;
        margin: 0 5em 0 0;
    }

    .realizar__lista {

        padding-right: 5em;
        max-width: 45em;
    }

    .realizar__lista a {

        margin: 3.6em auto 0 auto;
    }

    /*SLIDER*/

    .otrosServ h3 {

        text-align: left;
        font-size: 1.5em;
        padding-left: 3em;
    }
        
    .otrosServ h3::after {
        
        top: 2em;
        left: 3.1em;
        transform: translateX(0%);
    }
    
    .splide {
    
        margin: 6em 1.3em 10em 1.3em;
    }
    
    .splide__track {
    
        margin: 0 4em;
    }
}

@media screen and (min-width: 1400px) {
    
    .realizar__conten img {

        max-width: 35em;
        margin: 0 8em 0 0;
    }

    .realizar__lista {

        max-width: 55em;
    }

    .realizar__lista a {

        margin: 8.6em auto 0 auto;
    }
}